@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;
.item {
  background-color: v.$primary-color;
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 25px black;
  color: white;
  transition: transform 0.2s linear;
  text-decoration: none;
  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
  .imageHolder {
    height: 55%;
    position: relative;
    background-color: white;
    img {
      object-fit: contain;
    }
  }
  .itemInfo {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    .mainInfo {
      display: flex;
      justify-content: space-between;
      gap: 0.25rem;
      h3 {
        font-family: v.$title-font;
      }
      p {
        opacity: 0.7;
        font-size: medium;
      }
    }
    .subCategories {
      display: flex;
      gap: 0.5rem;
      margin-top: auto;
      margin-bottom: 0.5rem;
      div {
        @include m.categoryGradiant;
        box-shadow: 2px 4px black;
        width: 32%;
        text-align: center;
        padding: 0.5rem 0;
        border-radius: 1rem;
        font-weight: 700;
      }
    }
  }
}
