.authPage {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/authenticationBackground.jpg");
  background-size: cover;
  background-position: center;
}
