* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#root {
  display: grid;
  min-height: 100vh;
}
// html {
//   scroll-behavior: smooth;
// }
// ::-webkit-scrollbar {
//   display: none;
// }
