@use "../variables" as v;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: v.$backgroundColor;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  position: relative;
}
::-webkit-scrollbar {
  display: none;
}
