@use "./variables" as v;
@mixin glassyBackground {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.6px);
  -webkit-backdrop-filter: blur(10.6px);
  border-radius: 0.75rem;
}

//hover effect for white backgrounds
@mixin whiteHoverEffect {
  transition: all 0.2s linear;
  &:hover {
    background-color: v.$first-hover-color;
    transform: scale(1.05);
    cursor: pointer;
  }
}

@mixin categoryGradiant {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 3px 6px 0px v.$primary-color;
  transition: transform 0.25s ease-in-out;
  &:hover {
    transform: translate(2%, 5%);
    cursor: pointer;
  }
}
