@use "./variables" as v;
@mixin glassyBackground {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.6px);
  -webkit-backdrop-filter: blur(10.6px);
  border-radius: 0.75rem;
}

//hover effect for white backgrounds
@mixin whiteHoverEffect {
  transition: all 0.2s linear;
  &:hover {
    background-color: v.$first-hover-color;
    transform: scale(1.05);
    cursor: pointer;
  }
}
