@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.dialog {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  overflow: auto;
  backdrop-filter: blur(7.5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialogContent {
  background-color: white;
  margin: auto;
  padding: 3rem;
  width: clamp(40rem, 70vw, 60rem);
  min-width: 60rem;
  min-height: 90dvh;
  border-radius: 1rem;
  box-shadow: 0 0 20px v.$first-hover-color; //?
  font-family: v.$primary-font;
  position: relative;
  .closeButton {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: none;
    border: none;
    font-size: 2rem;
    transition: transform 0.3s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  .sectionSelectors {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-bottom: 2rem;
    * {
      flex: 1;
      text-align: center;
      border: 2px solid black;
      box-shadow: 4px 6px v.$first-hover-color;
      border-radius: 0.75rem;
      transition: transform 0.3s ease;
      &:hover {
        transform: translateY(4px);
        cursor: pointer;
      }
    }
  }

  .itemBase {
    display: flex;
    border: 2px solid black;
    padding: 1rem;
    width: 100%;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgba(250, 250, 250);
      transform: scale(1.025);
    }

    img {
      width: 30%;
      height: auto;
      background-color: white;
    }
  }
  .wishlistSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .wishlistItem {
      @extend .itemBase;
      &.fadeOut {
        animation: fadeOut 1s forwards;
      }
      & > div {
        width: 100%;

        h1 {
          font-family: v.$title-font;
          text-align: center;
        }

        div {
          display: grid;
          margin-top: 1rem;
          gap: 1rem;
          grid-template: 1fr 1fr / 1fr 1fr;
          vertical-align: baseline;
          text-align: center;
          height: 100%;
          width: 100%;
          padding: 1rem;
          justify-items: center;

          button {
            @include m.categoryGradiant;
            outline: none;
            border: none;
            color: white;
            font-family: v.$primary-font;
            font-weight: 600;
            border-radius: 1rem;
            width: 60%;
            height: 3rem;
            padding: 0.5rem 0;
            border: 1px solid white;

            &:hover {
              cursor: pointer;
            }
          }

          .availableInStock {
            color: red;
          }

          .price {
            color: green;
          }
        }
      }
    }
  }

  .purchaseHistorySection {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .purchaseHistoryItem {
      @extend .itemBase;
      align-items: center;
      text-align: center;

      .price {
        color: green;
      }
    }
  }
}
