@use "../styles//variables" as v;
@use "../styles//mixins" as m;
.home {
  height: 100dvh;
  width: 100dvw;
  position: relative;
  overflow: hidden;
  background-color: v.$backgroundColor;

  .videoContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100dvw;
    height: 100dvh;
    transform: translate(-50%, -50%);
    overflow: hidden;
    .backgroundVideo {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 248.888vh; /* 100 * (16/9) */
      height: 140dvh;
      transform: translate(-50%, -50%);
    }
  }

  .mainContent {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    color: white;
    font-family: v.$primary-font;
    .informationSection {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 30rem;
      text-align: center;
      font-family: v.$primary-font;
      .siteInfo,
      .personalInfo {
        @include m.glassyBackground;
        padding: 1rem;
      }
      .siteInfo {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        h1 {
          font-family: v.$title-font;
        }
      }
      .personalInfo {
        display: flex;
        justify-content: space-evenly;
        a {
          //to center the icons & reset Link styles
          color: inherit;
          text-decoration: inherit;
          display: flex;
          align-items: center;
          font-size: large;
          gap: 0.25rem;
          padding: 0.2rem;
          border-radius: 0.2rem;
          transition: all 0.2s ease-in-out;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
    .quickNavigation {
      @include m.glassyBackground;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 20rem;
      padding: 2rem 1.25rem;
      h2 {
        font-family: v.$title-font;
      }
      div {
        @include m.whiteHoverEffect;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: large;
        color: black;
        background-color: white;
        padding: 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }
}
