@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;
.itemPage {
  margin-top: 100px; //nav height
  color: v.$text-color;
  padding: 1.5rem;
  background-color: v.$primary-color;
  width: min(70%, 55rem);
  border-radius: 1rem;
  box-shadow: 8px 12px black;
  height: fit-content;
  //to center
  margin-left: auto;
  margin-right: auto;

  .infoHolder {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    flex-direction: column;
    .titleAndStockHolder {
      display: flex;
      width: 100%;
      gap: 1rem;
      flex-direction: column;
      align-items: center;
      h1 {
        font-family: v.$title-font;
        margin-bottom: 0.5rem;
      }
      .common-flex-styles {
        display: flex;
        align-items: center;
        font-family: inherit;
        padding: 1rem;
        border-radius: 1rem;
        font-weight: 600;
        transition: all 0.2s linear;

        &:hover {
          cursor: pointer;
          background-color: goldenrod;
        }
      }
      div {
        display: flex;
        gap: 1rem;
        font-family: v.$primary-font;
        h3 {
          @extend .common-flex-styles;
          background-color: red;
          width: fit-content;
          padding: 0.75rem;
          border-radius: 1rem;
        }

        button {
          outline: none;
          border: none;
          color: inherit;
          font-family: inherit;
          background-color: green;
          font-size: large;
          font-weight: 600;
          @extend .common-flex-styles;
          &:hover {
            background-color: goldenrod;
          }
        }

        div {
          background-color: v.$first-hover-color;
          @extend .common-flex-styles;
        }
      }
    }
    .mainInfo {
      margin-left: auto;
      display: flex;
      width: 100%;
      gap: 1rem;
      justify-content: center;
      .specificationTable {
        //table row
        width: 80%;
        div {
          display: flex;
          gap: 0.5rem;
          border: 1px solid white;
          background-color: black;
          font-family: v.$primary-font;
          padding: 0.5rem;
          margin-top: 0.5rem;
          border-radius: 0.5rem;
          transition: transform 0.25s ease-in-out;
          &:hover {
            transform: scale(1.015);
          }
          p {
            flex: 1;
            &:first-of-type {
              border-right: 1px solid gray;
            }
          }
        }
      }
    }
    .imageSliderContainer {
      width: 60%;
      overflow: hidden;
      align-self: center;
      img {
        background-color: white;
        overflow: hidden;
        border-radius: 1rem;
        border: 0.5rem solid black;
        object-fit: cover;
        object-position: center;
        height: 100%;
      }
    }
  }
}

.recommendedItemsHolder {
  h1 {
    text-align: center;
    color: white;
    font-family: v.$title-font;
    margin-top: 2rem;
    opacity: 0.75;
  }
  .itemsHolder {
    color: v.$text-color;
    width: min(80%, 80rem);
    border-radius: 1rem;
    margin : {
      left: auto;
      right: auto;
      top: 1rem;
      bottom: 3rem;
    }
    display: grid;
    grid-template: 350px / repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 300px;
    gap: 1.5rem 1.25rem;
    font-family: v.$primary-font;
  }
}
