@use "../../styles//variables" as v;
@use "../../styles//mixins" as m;
.searchPage {
  //account for the nav
  margin-top: 120px;
  display: grid;
  //?100px top for the category selector,20vw px on the left for the filters
  grid-template: 100px 1fr / 20vw 1fr;
  font-family: v.$primary-font;

  .categorySelector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    grid-column: 1/3;
    div {
      font-size: large;
      background-color: v.$primary-color;
      color: v.$text-color;
      padding: 0.5rem;
      border-radius: 0.5rem;
      font-family: v.$title-font;
      background: #373b44; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #4286f4,
        #373b44
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #4286f4,
        #373b44
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      box-shadow: 3px 6px 0px v.$primary-color;
      transition: transform 0.25s ease-in-out;
      &:hover {
        transform: translate(2%, 5%);
        cursor: pointer;
      }
    }
  }
  .sideBar {
    padding: 1.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    //for titles inside the two sections
    h2 {
      font-family: v.$title-font;
    }
    .priceSelector,
    .subCategorySelector {
      padding: 2rem;
      background-color: v.$primary-color;
      border-radius: 1rem;
      box-shadow: 3px 6px white;
    }
    .priceSelector {
      .rangeSlider {
        background: none;
        border: none;
        box-shadow: none;
      }
      h4 {
        font-family: v.$secondary-font;
        text-align: center;
        font-size: large;
      }
    }
    .subCategorySelector {
      .title {
        font-family: v.$title-font;
        opacity: 0.75;
        padding: 0.25rem;
        &:hover {
          cursor: pointer;
          border: 1px solid white;
        }
        &::after {
          content: "";
          border: solid white;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(-45deg);
          transition: transform 0.1s ease-in-out;
          margin-left: 0.5rem;
        }
      }
      .title + ol {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.25s linear;
      }
      .title + ol.active {
        max-height: 200px;
      }
      div:has(ol.active) {
        .title {
          &::after {
            transform: rotate(45deg);
          }
        }
      }
      label {
        height: 0;
        overflow: hidden;
        font-family: v.$primary-font;
        input[type="radio"] {
          position: relative;
          -webkit-appearance: none;
          appearance: none;
          /* For iOS < 15 to remove gradient background */
          background-color: #fff;
          font: inherit;
          color: white;
          width: 1.15em;
          height: 1.15em;
          border: 0.15em solid white;
          border-radius: 20%;
          transform: translateY(0.075em);
          margin-right: 0.25rem;
          margin-left: 0.5rem;
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 0.7em;
            height: 0.7em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em var(--form-control-color);
            background-color: green;
            border-radius: 50%;
          }
          &:checked::before {
            transform: scale(1.25);
          }
        }
      }
    }
  }
  .itemsHolder {
    padding: 1.5rem;
  }
}
