@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.nav {
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10vw;
  img {
    height: 80px;
    width: auto;
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
  .inputHolder {
    position: relative;

    input {
      height: 2.5rem;
      width: clamp(10rem, 20vw, 20rem);
      border: none;
      outline: none;
      border-radius: 0.5rem;
      transition: all 0.4s ease-in;
      box-shadow: 5px 8px 0px v.$primary-color;
      font-family: v.$primary-font;
      padding: 0.5rem;

      &:focus {
        width: clamp(15rem, 25vw, 25rem);
      }
    }

    .searchPopUp {
      position: absolute;
      top: 3.5rem;
      left: 0;
      width: 100%;
      background-color: white;
      border-radius: 0.5rem;
      padding: 1rem;
      z-index: 1000;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 5px 8px 0px v.$primary-color;
      display: none; // Hide by default

      &.active {
        display: block; // Show when active class is applied
      }

      .itemList {
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: v.$primary-font;
        .item {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          border-radius: 0.5rem;
          transition: all 0.3s ease;
          &:hover {
            scale: 1.025;
            background-color: rgb(250, 250, 250);
            cursor: pointer;
          }

          .itemImage {
            width: 100px;
            height: auto;
            object-fit: contain;
            margin-right: 1rem;
            border-radius: 0.25rem;
          }

          .itemInfo {
            display: flex;
            flex-direction: column;

            h3 {
              margin: 0;
              font-size: 1rem;
              font-weight: 600;
              color: v.$primary-color;
            }

            p {
              margin: 0.2rem 0;
              font-size: 0.9rem;
              color: #666;
            }

            .discountText {
              color: v.$primary-color;
              font-weight: bold;
              color: green;
            }
          }
        }
      }
    }
  }

  .iconsHolder {
    display: flex;
    gap: 0.5rem;
    color: white;
    align-items: center;
    .icon {
      transition: all 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
        transform: scale(1.05);
      }
    }
  }
}

.cartWindow {
  position: absolute;
  right: 0;
  color: black;
  background-color: white;
  z-index: 100;
  width: clamp(30rem, 30vw, 50rem);
  overflow: hidden;
  transition: all 0.4s linear;
  top: 0;
  min-height: 100%;
  //transform: translateX(100%);
  &.active {
    opacity: 1;
    transform: translateX(0);
  }
  .wrapper {
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .closeCart {
      width: fit-content;
      color: white;
      padding: 0.25rem 0.6rem;
      border-radius: 0.5rem;
      font-family: v.$primary-font;
      margin-bottom: 2rem;
      @include m.categoryGradiant;
      position: relative;
      &:hover {
        transform: scale(1.025);
        cursor: pointer;
      }
    }
    .cartItemsHolder {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      height: 100%;
      font-family: v.$primary-font;
      .cartItem {
        display: grid;
        grid-template: 1fr / 1fr 1.5fr;
        width: 100%;
        border: 1px solid black;
        .imageHolder {
          width: 100%;
          padding: 1rem;
          img {
            width: 100%;
            height: auto;
          }
        }
        .cartItemInfo {
          display: flex;
          flex-direction: column;
          text-align: center;
          div {
            &:first-of-type {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 1rem;
              .quantityControl {
                background-color: v.$primary-color;
                color: white;
                padding: 0.5rem 1rem;
              }
            }
          }
        }
      }
      .emptyCartMessage {
        margin: auto;
        font-family: v.$primary-font;
        text-align: center;
        position: relative;
      }
    }
  }
}
