@use "../../styles/variables" as v;

.nav {
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10vw;
  img {
    height: 80px;
    width: auto;
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
  .inputHolder {
    position: relative;

    input {
      height: 2.5rem;
      width: clamp(10rem, 20vw, 20rem);
      border: none;
      outline: none;
      border-radius: 0.5rem;
      transition: all 0.4s ease-in;
      box-shadow: 5px 8px 0px v.$primary-color;
      font-family: v.$primary-font;
      padding: 0.5rem;

      &:focus {
        width: clamp(15rem, 25vw, 25rem);
      }
    }

    .searchPopUp {
      position: absolute;
      top: 3.5rem;
      left: 0;
      width: 100%;
      background-color: white;
      border-radius: 0.5rem;
      padding: 1rem;
      z-index: 1000;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 5px 8px 0px v.$primary-color;
      display: none; // Hide by default

      &.active {
        display: block; // Show when active class is applied
      }

      .itemList {
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: v.$primary-font;
        .item {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          border-radius: 0.5rem;
          transition: all 0.3s ease;
          &:hover {
            scale: 1.025;
            background-color: rgb(250, 250, 250);
            cursor: pointer;
          }

          .itemImage {
            width: 100px;
            height: auto;
            object-fit: contain;
            margin-right: 1rem;
            border-radius: 0.25rem;
          }

          .itemInfo {
            display: flex;
            flex-direction: column;

            h3 {
              margin: 0;
              font-size: 1rem;
              font-weight: 600;
              color: v.$primary-color;
            }

            p {
              margin: 0.2rem 0;
              font-size: 0.9rem;
              color: #666;
            }

            .discountText {
              color: v.$primary-color;
              font-weight: bold;
              color: green;
            }
          }
        }
      }
    }
  }

  .iconsHolder {
    display: flex;
    gap: 0.5rem;
    color: white;
    align-items: center;
    .icon {
      transition: all 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
        transform: scale(1.05);
      }
    }
  }
}
